*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img{
    object-fit: cover;
}

body{
    position: relative;
    font-family: 'Raleway','Roboto', sans-serif;
}

.container{
    width: 80vw;
    margin: 0 auto;
}

header{
    background-color: #325a77;
    margin-top: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 24px;
    .title{
        font-size: 48px;
    }
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    .btn{
        padding: 12px 24px;
        border-radius: 8px;
        font-weight: bold;
        font-size: 24px;
        margin-right: 36px;
        color: inherit;
        text-decoration: none;
        transition: .4s;
        &:last-of-type{
            margin-right: 0;
        }
        &:hover{
            text-decoration: none;
        }
    }
    .btn-primary{
        background-color: #7ea7be;
        border: 2px solid #7ea7be;
        border-radius: 8px;
        color: white;
        &:hover{
            background-color: #325a77;
            border-color: #325a77;
        }
    }
    .btn-secondary{
        background-color: white;
        border: 2px solid #7ea7be;
        border-radius: 8px;
        color: #7ea7be;
        &:hover{
            color: #325a77;
            background-color: #b7bcc0;
            border-color: #b7bcc0;
        }
    }
}

.list{
    display: flex;
    flex-direction: column;
    &__item{
        position: relative;
        height: 280px;
        background-color: #f2ece1;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        max-width: 100%;
        margin-bottom: 24px;
        box-shadow: 0px 5px 8px #d1cec9;
        .img{
            width: 40%;
        }
        &__main{
            flex-grow: 1;
            padding: 16px 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__text{
                .title{
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 36px;
                }
                .category{
                    color: #656565;
                    font-size: 12px;
                    line-height: 1.5;
                    margin-bottom: 8px;
                }
            }
            &__price{
                text-align: right;
                .ori{
                    text-decoration: line-through;
                    font-size: 16px;
                    margin-bottom: 8px;
                    color: #656565;
                }
                .now{
                    font-size: 36px;
                    font-weight: bold;
                    color: #325a77;
                }
            }
        }
        .btn-group{
            position: absolute;
            top: 16px;
            right: 16px;
            a{
                color: #b7bcc0;
                text-decoration: none;
                margin-left: 12px;
                font-size: 24px;
                transition: .3s;
                &:hover{
                    color: #325a77;
                }
            }
        }
    }
}

.modal{
    display: none;
    &.show{
        display: block;
    }
    &__shadow{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; 
        background-color: rgba(0,0,0,.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__main{
        background-color: #fff;
        width: 80vw;
        border-radius: 16px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        &__header{
            background-color: #d1cec9;
            padding: 16px;
            font-weight: bold;
            text-align: center;
            font-size: 24px;
        }
        &__form{
            display: flex;
            flex-direction: column;
            padding: 16px;
            input{
                padding: 8px;
                margin-bottom: 8px;
            }
        }
        &__functionBar{
            background-color: #d1cec9;
            padding: 16px;
            display: flex;
            justify-content: flex-end;
            a{
                color: inherit;
                padding: 8px 16px;
                margin-right: 16px;
                text-decoration: none;
                border: 1px solid black;
                border-radius: 8px;
                transition: .3s;
                &:last-of-type{
                    margin-right: 0;
                }
                &:hover{
                    text-decoration: none;
                    background-color: grey;
                }
            }
        }
    }
}